.content_details {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;

  margin: 0 auto;
}
.content_details img {
  margin-top: 16px;

  border-radius: 8px;

  -webkit-box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.content_details section #header_movie {
  margin-bottom: 16px;
}

.content_details section #header_movie h2 {
  margin-top: 16px;
  margin-bottom: 8px;

  text-align: left;
}

.content_details section #header_movie #genre_list {
  align-items: center;
  list-style: none;
  display: flex;
  align-items: center;

  gap: 16px;
}

.content_details section #header_movie #genre_list #runtime {
  display: flex;
  align-items: center;
  width: 100px;
}

.content_details section #header_movie #genre_list #runtime svg {
  font-size: 1.5rem;
}

.content_details section #details_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content_details section #details_list .item_details div {
  display: flex;
  align-items: center;

  margin-bottom: 4px;
}

.content_details section #details_list .item_details div svg {
  font-size: 1.5rem;

  margin-right: 4px;

  color: #02f2ff;
}

@media (min-width: 1024px) {
  .content_details {
    flex-direction: row;
    align-items: flex-start;

    width: 1000px;

    gap: 16px;

    margin: 0 auto;
  }

  .content_details section #details_list .item_details #synopsis {
    width: 600px;
  }
}
