.content_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.content_details img {
  border-radius: 8px;

  margin-top: 16px;

  -webkit-box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.content_details section #header_movie {
  margin-bottom: 16px;
}

.content_details section #header_movie h2 {
  text-align: center;

  margin: 16px 0 8px 0;
}
.content_details section #header_movie #genre_list {
  display: flex;
}
.content_details section #header_movie #genre_list div {
  display: flex;
  gap: 4px;
}

.content_details section #header_movie #genre_list #runtime {
  display: flex;
  align-items: center;
}
.content_details section #details_list {
  display: flex;
  flex-direction: column;

  margin-top: 32px;
  margin-left: 16px;
}
.content_details section #details_list .item_details div {
  display: flex;
  align-items: center;

  margin-bottom: 4px;
}
.content_details section #details_list .item_details div svg {
  font-size: 1.2rem;

  margin-right: 8px;

  color: #02f2ff;
}

@media (min-width: 768px) {
  .content_details {
    flex-direction: row;
  }
  .content_details section #header_movie h2 {
    text-align: left;
    margin-left: 16px;
  }
  .content_details section #header_movie #genre_list {
    justify-content: start;

    margin-left: 16px;
  }
  .content_details section #details_list {
    margin-top: 0;
  }

  .content_details section #details_list .item_details #synopsis {
    width: 480px;
  }
}
@media (min-width: 1024px) {
  .content_details {
    width: 80vw;

    margin: 0 auto;
  }

  .content_details section #details_list .item_details #synopsis {
    width: 600px;
  }
}
@media (min-width: 1440px) {
}
