section #nav_details {
  justify-content: center;
}

#back {
  background-color: #2e9abf;
  color: #222222;

  border: 2px solid #2e9abf;

  margin-top: 16px;
  padding: 8px;

  font-weight: 700;
  font-size: 1.2rem;

  cursor: pointer;

  transition: 0.75s;
}

div #float_button {
  background-color: #2e9abf;
  color: #222222;

  border: 2px solid #2e9abf;

  width: 50px;
  height: 50px;

  text-align: center;
  font-size: 2rem;
  font-weight: bold;

  position: fixed;
  bottom: 10px;
  right: 10px;

  border-radius: 50%;

  cursor: pointer;
}

#back:hover,
div #float_button:hover {
  background-color: #02f2ff;
  color: #222222;

  border: 2px solid #02f2ff;
}

#menu_show_it {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 16px;
  margin: 16px 0;
  list-style: none;
}
#menu_show_it li button {
  background-color: #04ade9;

  padding: 8px;

  border-radius: 6px;
  border: none;

  cursor: pointer;

  transition: all 0.75s;
}
#menu_show_it li button:hover {
  background-color: #02f2ff;
}

#trailer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#trailer iframe {
  width: 300px;
  height: 200px;
}
#recommendations h2,
#collections h2,
#trailer h2 {
  margin: 16px 0;
}

@media (min-width: 768px) {
  main #trailer iframe {
    width: 500px;
    height: 300px;
  }
}

@media (min-width: 1024px) {
  #collections ul,
  #recommendations ul {
    width: 80vw;
    flex-direction: row;
    justify-content: center;
  }
  #recommendations ul {
    flex-wrap: wrap;
  }
}
