section #nav_details {
  justify-content: center;
}

#back {
  background-color: #2e9abf;
  color: #222222;

  border: 2px solid #2e9abf;

  margin-top: 16px;
  padding: 8px;

  font-weight: 700;
  font-size: 1.2rem;

  cursor: pointer;

  transition: 0.75s;
}

div #float_button {
  background-color: #2e9abf;
  color: #222222;

  border: 2px solid #2e9abf;

  width: 50px;
  height: 50px;

  text-align: center;
  font-size: 2rem;
  font-weight: bold;

  position: fixed;
  bottom: 10px;
  right: 10px;

  border-radius: 50%;

  cursor: pointer;
}

#back:hover,
div #float_button:hover {
  background-color: #02f2ff;
  color: #222222;

  border: 2px solid #02f2ff;
}

#recommendations,
#collections {
  margin-left: 16px;
}
#recommendations h2,
#collections h2 {
  margin: 16px 0;
}
#collections li {
  width: 150px;
}
@media (min-width: 1024px) {
  #recommendations,
  #collections {
    width: 80vw;

    margin: 0 auto;
  }
}
