.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ffffff;

  width: 280px;

  margin: auto;

  text-align: center;

  gap: 16px;
}
.header h2 {
  font-size: 1.5rem;
}
.section_card_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.section_card_list h2 {
  font-size: 1.3rem;
}
.list {
  overflow-y: auto;
  height: 500px;
  width: 320px;
}
.section_card_list h2 {
  text-align: center;
}

@media (min-width: 768px) {
  .header {
    width: 80vw;

    flex-direction: column-reverse;
  }
  .header h2 {
    font-size: 2rem;
  }
  .header form {
    display: none;
  }

  .section_card_list .list {
    width: 85vw;
  }
  .section_card_list h2 {
    font-size: 1.5rem;
  }

  .section_card_list ul {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1024px) {
  .section_card_list #list {
    width: 90vw;
  }
}
