#header {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #ffffff;

  width: 280px;

  margin: 32px auto;

  text-align: center;

  gap: 16px;
}
#header h2 {
  font-size: 1.3rem;
}
#section_card_list {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 16px;
}

#list {
  overflow-y: auto;
  height: 500px;
  width: 320px;
}
main section h2 {
  text-align: center;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  #header {
    width: 500px;
  }
}
@media (min-width: 1024px) {
  #header {
    flex-direction: column-reverse;
  }
  #header form {
    display: none;
  }
  #list {
    width: 80vw;
  }
  #section_card_list ul {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
