ul {
  list-style: none;
}
ul .item_movie {
  width: 300px;
  height: 500px;

  margin: 0 auto;

  margin-bottom: 32px;
}

ul .item_movie .bg {
  width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #484848;
}

ul .item_movie .content_average {
  display: flex;
  flex-direction: column;

  margin: 16px 0;
}

ul .item_movie img {
  width: 250px;

  height: 250px;

  object-fit: cover;

  margin-top: 24px;
}

ul .item_movie .content_average span {
  width: 250px;
  height: 55px;

  font-size: 1.5rem;
}

ul .item_movie .content_average .vote_average {
  display: flex;

  margin-top: 8px;
  margin-bottom: 8px;
}

ul .item_movie .content_average .vote_average #star_icon {
  color: #f7d354;
  margin-right: 4px;
}

ul .item_movie a {
  width: 250px;

  background-color: #f7d354;
  color: #222222;

  padding: 16px;

  margin: 16px 0 24px 0;

  border-radius: 6px;

  text-align: center;
  font-weight: 700;

  transition: 0.75s;
}
.item_movie a:hover {
  background-color: #222222;
  color: #f7d354;

  border: 2px solid #fff;
}

@media (min-width: 768px) {
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1024px) {
  ul {
    width: 80%;
    margin: 0 auto;
  }
  ul .item_movie {
    width: 350px;
  }
}

@media (min-width: 1440px) {
  ul {
    width: 100%;
  }
  ul .item_movie {
    width: 300px;
  }
}
