#card_list {
  display: flex;
  flex-direction: column;

  gap: 24px;

  list-style: none;

  margin: 0 auto;
  width: 300px;
}
.card_list_item {
  width: 300px;
  height: 200px;

  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
#description_card {
  margin: 8px;
  padding: 8px;

  display: flex;
  flex-direction: column;
  align-items: end;

  border-radius: 6px;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
}
.vote_average {
  display: flex;
  align-items: center;
}
.vote_average #star_icon {
  color: yellow;
  margin-right: 4px;
}
#description_card a {
  color: #fff;
}
#description_card a:hover {
  color: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (min-width: 375px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
}
