ul {
  list-style: none;

  display: flex;
  gap: 16px;
  overflow: auto hidden;
}
ul .item_movie .card img {
  object-fit: cover;

  -webkit-box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

ul .item_movie .card #background {
  position: relative;
}

ul .item_movie .card #background .vote_average {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 45px;
  width: 45px;

  background-color: #001a1b;

  border-radius: 50%;

  border: 1px solid #fff;

  font-weight: 700;
  font-size: 0.9rem;

  position: absolute;

  right: 6px;
  bottom: 14px;
}
ul .item_movie .card #background .vote_average #star_icon {
  margin-right: 4px;

  color: #02f2ff;
}
ul .item_movie .card a {
  display: block;

  color: #ffffff;

  font-size: 1.1rem;

  margin-bottom: 16px;

  cursor: pointer;
}
ul .item_movie .card a:hover {
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
