.alert {
  width: 80vw;

  margin: 0 auto;

  text-align: center;

  display: flex;
  flex-direction: column;

  gap: 16px;
}
.alert div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert div svg {
  color: yellow;
  font-size: 32px;

  margin-right: 8px;
}
.alert div span {
  font-size: 1rem;
}
.alert a {
  width: 250px;

  background-color: #2e9abf;
  color: #222222;

  border: 2px solid #2e9abf;

  padding: 8px;
  margin: auto;

  border-radius: 6px;

  font-size: 1.2rem;
  font-weight: 700;

  transition: 0.75s;
}
.alert a:hover {
  background-color: #02f2ff;
  color: #222222;

  border: 2px solid #02f2ff;
}

@media (min-width: 768px) {
  .alert {
    width: 500px;
  }
}
