@keyframes changeBg {
  0% {
    background: #2e9abf;
  }
  25% {
    background: #60d394;
  }
  50% {
    background: #51e293;
  }
  75% {
    background: #0aabe3;
  }
  100% {
    background: #04ade9;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 8px;
  position: relative;

  animation: changeBg 5s infinite alternate linear;
}

.topo {
  display: flex;
  align-items: center;
  gap: 40px;

  height: 100%;
  width: 100%;

  position: relative;
}
.topo button {
  display: none;
  background: none;

  border: none;

  font-size: 24px;

  padding: 8px;

  cursor: pointer;
}

.topo .link {
  display: flex;
  align-items: center;

  margin: 16px 0 16px 8px;

  color: #222222;
}

.topo .link svg {
  margin-right: 8px;
}
.topo .link svg,
.topo .link span {
  font-size: 2rem;
}

.header form {
  display: none;
}
@media (min-width: 768px) {
  .header form {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .topo {
    justify-content: flex-start;
  }
  .topo .link {
    width: 200px;
    margin-right: 16px;
  }
  .topo button {
    display: none;
  }
}

@media (max-width: 580px) {
  .topo {
    justify-content: space-between;
  }
  .topo button {
    display: block;
  }
}
