nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h2 {
  font-size: 2rem;
  margin: 16px 0;
}

#social_network_list {
  display: flex;
  flex-direction: column;

  margin-right: 16px;
  list-style: none;
}
#social_network_list .social_network {
  margin-top: 8px;
}
#social_network_list .social_network a {
  padding: 8px;

  display: flex;
}

#social_network_list .social_network a svg {
  font-size: 20px;
}

@media (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-between;

    margin: 0 40px;
  }

  nav h2 #icon {
    display: inline-block;
  }
  #social_network_list {
    flex-direction: row;
  }
  #social_network_list .social_network a {
    padding: 16px;

    display: flex;
  }
  #social_network_list .social_network a svg {
    font-size: 20px;
  }
}
