nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 16px;
}

nav h2 {
  font-size: 2rem;
}

nav form {
  display: flex;
  align-items: center;

  position: relative;

  margin: 16px 0;
}

nav form input {
  padding: 10px 16px;

  width: 250px;

  font-weight: 700;

  border-radius: 4px;

  border: 2px solid gray;
}

nav form input:focus {
  outline: none;
}

nav form button {
  padding: 10px;

  background-color: transparent;

  border: none;

  color: #222;

  position: absolute;

  top: 2px;
  right: 4px;

  cursor: pointer;
}
