@keyframes changeBg {
  0% {
    background: #2e9abf;
  }
  25% {
    background: #60d394;
  }
  50% {
    background: #51e293;
  }
  75% {
    background: #0aabe3;
  }
  100% {
    background: #04ade9;
  }
}

#topo {
  display: flex;
  align-items: center;

  animation: changeBg 5s infinite alternate linear;
}

#topo a {
  font-size: 2rem;

  margin: 16px 0 16px 8px;

  color: #222222;
}
