.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;

  margin: 0 auto;
}

.content #pagination {
  margin: 32px 0;
}
.content #pagination ul {
  margin: 0 16px;
}

.content #pagination ul li {
  background-color: #f7d354;
  color: #222222;

  margin-bottom: 16px;
  border: none;
}
.content #pagination ul li div {
  display: none;
}

.content #pagination ul li span svg {
  color: #222222;
}
.content #pagination ul li a {
  font-size: 1.15rem;
}
.content #pagination ul .ant-pagination-item-active {
  background-color: #222222;
  color: #f7d354;

  border: 2px solid #ffffff;
}

.content #pagination ul .ant-pagination-item-active a {
  color: #ffffff;
}

#nothingToSeeHere {
  height: 80vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 16px;
}

#nothingToSeeHere h1 {
}

#nothingToSeeHere a {
  width: 250px;

  background-color: #f7d354;
  color: #222222;
  border: 2px solid #222222;

  padding: 16px;

  border-radius: 6px;

  text-align: center;
  font-weight: 700;

  transition: 0.75s;
}

#nothingToSeeHere a:hover {
  background-color: #222222;
  color: #f7d354;

  border: 2px solid #fff;
}
