.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100%;
}

.content #pagination {
  margin: 32px 0;
}
.content #pagination {
  margin: 0 16px;
}

.content ul {
  width: 80vw;
}
.content #pagination .ant-pagination {
  justify-content: center;

  margin: 16px 0;
}
.content #pagination li {
  background-color: #2e9abf;
  color: #222222;

  border: 2px solid #2e9abf;
  margin-bottom: 16px;
  border: none;
}

.content #pagination li div {
  display: none;
}

.content #pagination li span svg {
  color: #ffff;
}
.content #pagination li a {
  font-size: 1.15rem;
}
.content #pagination .ant-pagination-item-active {
  background-color: #02f2ff;
  color: #222222;

  border: 2px solid #02f2ff;
}

.content #pagination .ant-pagination-item-active a {
  color: #222222;
}

#nothingToSeeHere {
  height: 80vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 16px;
}

#nothingToSeeHere a {
  width: 250px;

  background-color: #2e9abf;
  color: #222222;

  border: 2px solid #2e9abf;

  padding: 16px;

  border-radius: 6px;

  text-align: center;
  font-weight: 700;

  transition: 0.75s;
}

#nothingToSeeHere a:hover {
  background-color: #02f2ff;
  color: #222222;

  border: 2px solid #02f2ff;
}
