.xl_menu nav {
  list-style: none;
  display: flex;
  gap: 16px;
}
.xl_menu nav li a {
  color: #222;
}

.xl_menu nav li a:hover {
  color: #fff;
}
@media (max-width: 580px) {
  .xl_menu {
    display: none;
  }
  .sm_menu {
    display: block;
    position: fixed;
    top: 71px;
    right: 0;

    z-index: 999;
  }
  .sm_menu nav {
    width: 100vw;
    height: 120px;

    gap: 0;

    flex-direction: column;

    background: rgba(216, 216, 216, 0.2);
    backdrop-filter: blur(8px);
  }

  .sm_menu nav li {
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;

    border: 1px solid transparent;

    text-align: center;
  }
  .sm_menu nav li:hover {
    border-right: 1px solid #02f2ff;
    border-bottom: 1px solid #02f2ff;
    border-left: 1px solid #02f2ff;
  }
  .sm_menu nav li:hover:nth-child(2),
  .sm_menu nav li:hover:nth-child(3) {
    border: 1px solid #02f2ff;
  }
  .sm_menu nav li a,
  .sm_menu nav .search button {
    font-size: 20px;
  }

  .sm_menu nav .search button {
    color: #fff;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 6px;
  }
  .sm_menu nav li a {
    color: #fff;
    width: 100%;

    padding: 10px;
  }
  .sm_menu nav .form {
    height: 100%;

    display: flex;
    justify-content: center;

    gap: 16px;
  }
  .sm_menu nav .form .arrow_back {
    width: 26px;
    height: 26px;

    cursor: pointer;
  }
  .sm_menu nav li form {
    display: flex;
  }
}
