aside {
  position: fixed;
  right: 0;
  top: 47px;

  height: 100vh;
  width: 100vw;

  z-index: 999;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);

  display: flex;
  justify-content: flex-end;
}
aside #menu {
  width: 50%;

  text-align: center;

  list-style: none;

  background-color: #3b3b3b;
}
aside #menu li {
  margin-bottom: 8px;

  padding: 8px;

  border: 2px solid #3b3b3b;

  cursor: pointer;
}
aside #menu li:hover {
  border-bottom: 2px solid #02f2ff;
  border-left: 2px solid #02f2ff;
  border-right: 2px solid #02f2ff;
}
aside #menu li a {
  color: #fff;
}
