* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #222;
  --font-color: #ffffff;
  --link-color: #f7d354;
  --link-color-hover: #b8930c;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: 0.5s;
}

a:hover {
  color: var(--link-color-hover);
}
