#notFound {
  width: 100vw;
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 32px;

  color: #ffffff;
}

#notFound a {
  background-color: #2e9abf;
  color: #222222;

  border: 2px solid #2e9abf;

  padding: 16px;

  font-size: 1.2rem;

  transition: 0.75s;
}
#notFound a:hover {
  background-color: #02f2ff;
  color: #222222;

  border: 2px solid #02f2ff;
}
